

.footer{
    padding-top: 15px;
    padding-bottom: 30px;
    background: var(--card-bg-01);
}

.footer_text{
    line-height: 15px;
    color:rgba(0, 0, 0, 0.678);

    
}

.footer_quick-links ul li {
    background: transparent !important;
    cursor: pointer;
}

.cardly_footer{
    line-height: 15px;
    color:rgba(98, 30, 153, 0.678);
    padding-top: 50px;
    
}